@import './reset.css';

@font-face {
	font-family: 'Noto Sans Khmer';
	src: url(/fonts/NotoSansKhmer-Regular.ttf);
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans Khmer';
	src: url(/fonts/NotoSansKhmer-SemiBold.ttf);
	font-weight: 600 700;
	font-display: swap;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

	--content_max_width: min(100%, 72.5em);
	--content_padding_horizontal: 2.5rem;

	--clr_dark: #141414;
	--clr_dark_shade_a: #212121;
	--clr_light: #f3f3f3;
	--clr_ivory: #fffff0;

	--clr_primary: #003153;
	--clr_primary_shade_a: #004f86;
	--clr_secondary: #0077cc;
	--clr_secondary_shade_a: #0095ff;
	--clr_secondary_shade_b: #33aaff;
	
	--clr_positive: #43A047;
	--clr_negative: #E53935;

	--clr_grey_shade_a: #444;
	--clr_grey_shade_b: #666;
	--clr_grey_shade_c: #999;
	--clr_grey_shade_d: #ccc;
	--clr_grey_shade_e: #ececec;
	--clr_grey_shade_f: #f7f7f7;

	/* type scaling (1.125 - major second) */
	--type_scale_6: 1.802rem;
	--type_scale_5: 1.602rem;
	--type_scale_4: 1.424rem;
	--type_scale_3: 1.266rem;
	--type_scale_2: 1.125rem;
	--type_scale_1: 1rem;
}
@media screen and (max-width: 48em) {
	html {
		--content_max_width: 100%;
		--content_padding_horizontal: 1rem;

		--type_scale_6: calc(1.802rem * 0.95);
		--type_scale_5: calc(1.602rem * 0.95);
		--type_scale_4: calc(1.424rem * 0.95);
		--type_scale_3: calc(1.266rem * 0.95);
		--type_scale_2: calc(1.125rem * 0.95);
		--type_scale_1: calc(1rem * 0.95);
	}
}

main[lang="km"] {
	--type_scale_6: calc(1.802rem * 1.125);
	--type_scale_5: calc(1.602rem * 1.125);
	--type_scale_4: calc(1.424rem * 1.125);
	--type_scale_3: calc(1.266rem * 1.125);
	--type_scale_2: calc(1.125rem * 1.125);
	--type_scale_1: calc(1rem * 1.125);
}
main[lang="km"] * {
	font-family: 'Noto Sans Khmer', sans-serif;
}

body {
	color: var(--clr_dark);
	background-color: var(--clr_ivory);
	transition: color 100ms ease-out, background-color 100ms ease-out;
}

body[data-theme="dark"] {
	color: var(--clr_light);
	background-color: var(--clr_dark);
}

h1 {
	font-weight: 600;
	line-height: 1.15;
}

h2,
h3,
h4,
h5 {
	font-weight: 600;
	line-height: 1.24;
}

div,
span,
p,
a,
ul,
ol,
small,
q,
blockquote {
	font-family: var(--font_primary), sans-serif;
}

h1 {
	font-size: var(--type_scale_6);
}

h2 {
	font-size: var(--type_scale_5);
}

h3 {
	font-size: var(--type_scale_4);
}

h4 {
	font-size: var(--type_scale_3);
}

h5 {
	font-size: var(--type_scale_2);
}

h6 {
	font-size: var(--type_scale_1);
}

div,
span,
p,
a,
ul,
ol,
q,
blockquote {
	font-size: var(--type_scale_1);
}

p {
	line-height: 1.6;
}

small {
	font-size: 0.8rem;
}

a {
	color: var(--clr_primary);
}

a:visited {
	color: var(--clr_primary_shade_a);
}

a:hover,
a:focus {
	color: var(--clr_secondary);
}

[data-theme='dark'] a,
[data-theme='dark'] a:visited {
	color: var(--clr_secondary_shade_b);
}
[data-theme='dark'] a:hover,
[data-theme='dark'] a:focus {
	color: var(--clr_secondary_shade_a);
}

h2,
h3,
h4,
h5,
h6 {
	margin: var(--type_scale_1) 0;
}
div,
span,
p,
a,
ul,
ol,
q,
blockquote,
li {
	margin: calc(var(--type_scale_1) * 0.5) 0;
	line-height: 1.5;
}

@supports (-moz-appearance: none) {
	/* firefox specific khmer word wrap fix */
	main[lang="km"] h1,
	main[lang="km"] h2,
	main[lang="km"] h3,
	main[lang="km"] h4,
	main[lang="km"] h5,
	main[lang="km"] h6,
	main[lang="km"] div,
	main[lang="km"] span,
	main[lang="km"] p,
	main[lang="km"] a,
	main[lang="km"] ul,
	main[lang="km"] ol,
	main[lang="km"] q,
	main[lang="km"] blockquote,
	main[lang="km"] li {
		word-break: break-all;
	}
}

main {
	max-width: var(--content_max_width);
	margin: 2.5rem auto;
	padding: 0 var(--content_padding_horizontal);
}
